<header class="panel-cover {% if page.layout == 'post' or page.layout == 'page' %}panel-cover--collapsed{% endif %}" style="background-image: url('{{ assets_base_url }}/assets/images/background-cover.jpg')">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">

        <a href="/#blog" title="前往 {{ site.title }} 的主页" class="blog-button"><img src="{{ assets_base_url }}/assets/images/avatar.jpg" width="80" alt="{{ site.title }} logo" class="panel-cover__logo logo" /></a>
        <h1 class="panel-cover__title panel-title"><a href="/#blog" title="link to homepage for {{ site.title }}" class="blog-button">{{ site.title }}</a></h1>
        {% if site.subtitle %}
        <span class="panel-cover__subtitle panel-subtitle">{{site.subtitle}}</span>
        {% endif %}
        <hr class="panel-cover__divider" />
        <p class="panel-cover__description custom">{{ site.description }}</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary" />
        
        {% if site.welcome_message %}
        <p class="panel-cover__description">{{ site.welcome_message }}</p>
        {% endif %}
        
        <div class="navigation-wrapper">
          <div>
            <nav class="cover-navigation cover-navigation--primary">
              <ul class="navigation">
                <li class="navigation__item"><a href="/#blog" title="{{site.blog_button.description}}" class="blog-button">{{site.blog_button.title}}</a></li>
                {% for item in site.nav %}
                  <li class="navigation__item"><a href="{{item.url}}" target="_blank" title="{{item.description}}">{{item.title}}</a></li>
                {% endfor %}
              </ul>
            </nav>
          </div>
          
          <div>{% include social.html %}</div>
          <div>ICP证：<a href="http://www.beian.miit.gov.cn">蜀ICP备20022406号</a></div>
          <div style="width:300px;margin:0 auto; padding:20px 0;">
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51012202000712" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="{{ assets_base_url }}/assets/images/beian.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">川公网安备 51012202000712号</p></a>
          </div>
        </div>
      </div>
    </div>
    
    {% if site.cover_color %}
    <div class="panel-cover--overlay cover-{{site.cover_color}}"></div>
    {% else %}
    <div class="panel-cover--overlay cover-disabled"></div>
    {% endif %}
  </div>
</header>
